body {
    background-color: #F8FAFC;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    border: 1px solid transparent;
    margin-left: 220px;
   background: linear-gradient(135deg, #7A0C0C, #4A0A0A);
}
.navbarlinks {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: fixed;
    top: 0;
    left: 0;          
    width: calc(100% - 219px); 
    margin-left: 219px; 
    background-color: #7A0C0C; 
    z-index: 1000; 
    padding: 10px 20px;
}


p {
    color: white;
    margin-left: 10px;
}

.button {
   
    margin-top: 19px;
    padding: 7px 30px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: 0.3s;
    background-color: transparent;
    color: white;
    
}
.button:hover {
 transform: translateY(-5px);
 border: 1px solid #ccc;
 background-color: rgb(221, 219, 219);
 cursor: pointer;
}
.aside {
    position: fixed;
    border: 1px solid transparent;
    top: 0;
    width: 220px;
    height: 100vh;
    background: linear-gradient(135deg, #7A0C0C, #4A0A0A);
}
p {
    display: flex;
    justify-content: center;
    font-size: 20px;
}
hr {
    background-color: #ccc;
}
.asideslinks {
    display: flex;
    flex-direction: column;
    gap: 20px;
   background: linear-gradient(135deg, #7A0C0C, #4A0A0A);
}
.link {
    
    display: flex;
    justify-content: center;
}
a {
    text-decoration: none;
    color: white;
}
.link:hover {
    border: 1px solid transparent;
    padding: 4px 0px;
    background-color: blue;
    border-radius: 6px;
}
.main-content {
    position: absolute;
    top: 120px;
    left: 240px;
    color: black;
}
