.container .formulaire {
    border: 2px solid transparent;
    border-radius: 9px;
    padding: 20px 20px;
   height: 620px;
   width: 900px;
   background-color: rgb(228, 243, 242);
   
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}
.message {
    border: 2px solid transparent;
    width: 350px;
    height: 30px;
    border-radius: 9px;
   animation: fadeIn 0.7s ease-in-out;
}