body {
    font-family: Arial, Helvetica, sans-serif;
}
.titre {
    display: flex;
    justify-content: center;
    color: rgb(119, 119, 235);
}
table {
   
    border: none;
}
th {
    width: 170px;
    padding-top: 30px;
    background-color: rgb(119, 119, 235);
    border-radius: 6px;
    color: white;
    font-size: 20px;
}
td {
    text-align: center;
   padding-top: 30px;
    border-radius: 6px;
}
tr {
    outline: none;
}
#error {
    color: black;
    font-size: 20px;
}
.button_form {
    
    padding: 10px 70px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: 0.3s;
    background-color: #2563EB;
    color: white;
    cursor: pointer;
}
.button_form:hover {
 transform: translateY(-5px);
 border: 1px solid #ccc;
 background-color: #1D4ED8;
}