body {
    font-family: Arial, Helvetica, sans-serif;
}
.titre {
    display: flex;
    justify-content: center;
    color: rgb(119, 119, 235);
}
table {
    
    border: none;
}
th {
    width: 170px;
    padding-top: 30px;
    background-color: rgb(119, 119, 235);
    border-radius: 6px;
    color: white;
    font-size: 20px;
}
td {
    text-align: center;
   padding-top: 30px;
    border-radius: 6px;
}
tr {
    outline: none;
}
#error {
    color: black;
    font-size: 20px;
}
.button_form {
     padding: 10px 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: 0.3s;
    background-color: #2563EB;
    color: white;
    cursor: pointer;
}
.btn-user {
    margin-left: 900px;
    transition: 0.3s;
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.1);
}
.btn-user:hover {
 box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.2);
 transform: translateY(-4px);
}
.mybadge1 {
    background-color: red !important;
    font-size: 14px !important;
    color: white !important;
    padding: 3px 8px !important;
    border-radius: 12px !important;
    font-weight: bold !important;
}
.mybadge2 {
    background-color: #2563EB !important;
    font-size: 14px !important;
     color: white !important;
    padding: 3px 8px !important;
    border-radius: 12px !important;
    font-weight: bold !important;
}